.git
.github
node_modules
vendor
public/build
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.production.example
tests
compose.yaml
compose.prod.yaml
Reunião.md
